# ASP.NET Core
*.obj
*.exe
*.dll
*.log
*.vscode/
*.vs/
*/bin/
*.user
*.suo
*.tmp

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
build/
coverage/
npm-debug.log
*.props
*.pdb
*.cache
*.txt
JobsListing.Server/obj/Debug/net8.0/JobsListing.Server.AssemblyInfo.cs
JobsListing.Server/obj/Debug/net8.0/JobsListing.Server.AssemblyInfoInputs.cache
JobsListing.Server/obj/Debug/net8.0/JobsListing.Server.assets.cache
JobsListing.Server/obj/Debug/net8.0/JobsListing.Server.MvcApplicationPartsAssemblyInfo.cs
JobsListing.Server/obj/Debug/net8.0/JobsListing.Server.sourcelink.json
JobsListing.Server/obj/Debug/net8.0/staticwebassets.build.json
